@model PatientSystem.Models.Patient
@{
    Layout = "_Layout";
    ViewBag.Title = "Submit Form";
}

<h2>Done!</h2>
<p>You may wish to go back to <a asp-action="PatientRegistration">the Patient Registration Page</a> to continue
adding patients.</p>